/* .home */
.home {
  height: 96.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .container */
.container {
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  width: 100%;
  height: 100%;
}

/* .sidebar */
.sidebar {
  flex: 1;
  background: linear-gradient(135deg, #3d7ed6, #fbbb5b);
  position: relative;
  overflow: auto;
  height: 100%;
  scrollbar-width: thin;
}

/* Webkit (Chrome, Safari, etc.) */
.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 6px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: red;
}

/* .navbar */
.navbar {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #3498db, #2980b9);
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  color: #ddddf7;
  margin-bottom: 10px;
}

/* .logo (inside .navbar) */
.navbar .logo {
  font-weight: normal;
  font-size: 18px;
}

/* .user (inside .navbar) */
.navbar .user {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* .navbarFullName */
.navbarFullName {
  font-weight: 500;
  font-size: 18px;
  color: white;
  margin-left: 15px;
}

/* .img (inside .user) */
.user .img {
  background-color: #ddddf7;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  object-fit: cover;
}

/* .search */
.search {
  display: flex;
  align-items: center;
}

/* .searchForm */
.searchForm {
  padding: 10px;
  border-radius: 20px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  width: 90%;
  margin-left: 13px;
  cursor: text;
}

/* .searchmessageuser */
.searchmessageuser {
  background-color: transparent;
  border: none;
  color: #333;
  outline: none;
  cursor: text;
  width: 100%;
  padding: 3px;
}

.searchForm:hover {
  background-color: #e0e0e0;
}

.searchmessageuser:focus {
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* .searchIcon */
.searchIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 0 20px 20px 0;
  background-color: #f2f2f2;
}

/* SVG icon inside .searchIcon */
.searchIcon svg {
  width: 20px;
  height: 20px;
}

/* .userChat */
.userChat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
}

/* .userImage (inside .userChat) */
.userChat .userImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

/* .userChatInfo (inside .userChat) */
.userChat .userChatInfo {
  align-items: center;
  margin-top: 11px;
}

/* .userName (inside .userChatInfo) */
.userChat .userChatInfo .userName {
  font-size: 18px;
  font-weight: normal;
}

/* .defaultText (inside .userChatInfo) */
.userChat .userChatInfo .defaultText {
  font-size: 14px;
  color: lightgray;
}

/* .chat */
.chat {
  flex: 2;
  height: 95%;
}

/* .chatInfo */
.chatInfo {
  bottom: 0;
  z-index: 1;
  height: 50px;
  background: linear-gradient(135deg, #fbbb5b, #3d7ed6);
  display: flex;
  align-items: center;
  padding: 10px;
  color: lightgray;
}

/* .messagesBox */
.messagesBox {
  /* background: #639fba; */
  background-image: url("/assets/chatbg.webp");
  padding: 10px;
  height: calc(100% - 110px);
  overflow: auto;
  scrollbar-width: thin;
}

/* .message */
.message {
  display: flex;
  gap: 10px;
  margin-bottom: 1px;
}

/* .messageInfo */
.message .messageInfo {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 600;
  margin-bottom: 20px;
}

.messagesBox::-webkit-scrollbar {
  width: 8px;
}

.messagesBox::-webkit-scrollbar-thumb {
  background-color: #fbbb5b;
  border-radius: 3px;
}

.messagesBox::-webkit-scrollbar-track {
  background-color: transparent;
}

/* .messageDate */
.message .messageInfo .messageDate {
  font-size: 12px;
}

/* .messageContent */
.message .messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .paragraph */
.message .messageContent .paragraph {
  background-color: white;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
}

/* .userProfPic2 */
.message .messageContent .userProfPic2 {
  width: 50%;
}

/* .owner */
.message.owner {
  flex-direction: row-reverse;
}

/* .owner .messageContent */
.message.owner .messageContent {
  align-items: flex-end;
}

/* .owner .paragraph */
.message.owner .paragraph {
  background-color: rgb(29 78 216);
  color: white;
  border-radius: 10px 0px 10px 10px;
}

/* .textInput */
.textInput {
  height: 50px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

/* .typeInput */
.textInput .typeInput {
  width: 100%;
  border: none;
  outline: none;
  color: #5d5b8d;
  font-size: 18px;
}

/* .send */
.textInput .send {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* .sendImage */
.textInput .send .sendImage {
  height: 24px;
  cursor: pointer;
}

/* .sendButton */
.textInput .send .sendButton {
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: rgb(59 130 246);
  cursor: pointer;
}

/* .sendButton:hover */
.textInput .send .sendButton:hover {
  background-color: rgb(29 78 216);
}